@charset "UTF-8";
#h-title {
	margin-top: 25px;
	margin-bottom: 5px;
}
.type {
	display: inline-block;
	height: 50px;
}
.type a{
	display: inline-block;
	text-decoration: none;
	color: rgb(94, 94, 94);
	margin-top: 30px;
	margin-right: 35px;
}
.type.active a {
	color: black;
	font-weight: bold;
}
#app-btn {
	display: inline-block;
	width: 120px;
	height: 50px;
	background-color: white;
	border: 1px solid rgb(51, 51, 51);
	border-radius: 4px;
	font-size: 15px;
	float: right;
	cursor: pointer;
}
.t-List{
	margin: 20px 0;
	font-size: 14px;
	text-align: center;
	border-collapse: collapse;
	border-top: 2px solid rgb(200, 200, 200);
	border-bottom: 2px solid rgb(200, 200, 200);
}
.t-List tr {
	border-top: 1px solid rgb(200, 200, 200);
	height: 45px;
}
.t-List tr:hover {
	background-color: rgb(250, 250, 250);
}
.t-List th {
	background-color: rgb(240, 240, 240);
}
.t-List .th-1 {
	width: 180px;
}
.t-List .th-2 {
	width: 630px;
}
.t-List .th-3 {
	width: 810px;
}
.t-List a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}
.t-List span {
	padding: 5px 10px;
	border-radius: 4px;
	border: 1px;
	color: white;
}
.status-1 { /* 기안 대기, 결재 대기 */
	background-color: #a6c76c;
}
.status-2 { /* 진행, 결재 진행 */
	background-color: rgb(117, 144, 194);
}
.status-3 { /* 완료 */
	background-color: rgb(130, 130, 130);
}
.status-4 { /* 반려 */
	background-color: #ff616b;
}
.status-5 { /* 임시, 결재 예정 */
	background-color: rgb(161, 128, 177);
}
.paging {
	display: inline-flex;
	height: 40px;
	width: 836px;
	margin-left: 257px;
	justify-content: center;
}
.page-btn {
	width: 40px;
	height: 40px;
	border: none;
	background-color: transparent;
	font-size: 14px;
	margin: 0 5px;
	cursor: pointer;
}
.page-btn:hover, .page-btn.active {
	border: 1px solid rgb(51, 51, 51);
	border-radius: 4px;
}
.l-search {
	display: flex;
	height:40px;
	margin-bottom: 10px;
	float: right;
}
.l-search form{
	display: inline-flex;
}
.l-select {
	height: 40px;
	width: 80px;
	border-radius: 4px;
	border: solid 1px rgb(190, 190, 190);
	margin-right: 5px;
	text-align: center;
}
.l-input {
	display: flex;
	height: 38px;
	width: 170px;
	border-radius: 4px;
	border: solid 1px rgb(190, 190, 190);
}
.l-text {
	display: inline-flex;
	width: 137px;
	border: none;
}