@charset "UTF-8";

a{
    color:#7000D8;
}

a:hover {
   color:#7000D8;
}

textarea:focus {
  outline: none;
}
button:focus {
  outline: none;
}
input:focus {
  outline: none;
}

.btn-primary{
    color: #fff;
    background-color:#7000D8;
    border-color:#7000D8;
} 

.btn-primary:hover{
    color: #fff;
    background-color:#7000D8;
    border-color:#7000D8;
} 


.boardTop{
   width:100%;
   padding:0px 5px 10px 18px;
   font-size:1em;
   font-weight: 800;
   overflow: hidden;
}

.boardTop_txt{
   float: left;
   color: #fff;
}

.boardTop_btn{
   float: right;
}

.boardTop_btn img:hover{
   cursor: pointer;
}

.b_txt{
   padding: 0px;
   margin:5px 0px 5px 0px;
}



.nav-link.active{
   color:#fff!important ;
   background:#7000D8 !important;
}

.text-white{
   text-align: center;   
}

.table_info{
   text-align: center;
}

.page-link{
   background-color:#191C24;
   border: 1px solid #000;
   color: #6C7293;
}

.page-link:hover{
    color: #fff;
    background-color: #7000D8 ;
    border-color: #7000D8;
}

.page-link:active{
   border: 1px solid #000;
   background-color: #7000D8 ;
   
}

.page-item.active .page-link {
   z-index:3;
    color: #fff;
    background-color: #7000D8 ;
    border-color: #7000D8;
}



.form-check-input:checked {
    background-color: #7000D8;
    border-color: #7000D8;
}

.page_box{
   margin: 30px 0px 0px 0px;
}

input:focus {
   outline: none !important;
}

input:focus {
	outline: none !important;
}

