@charset "UTF-8";

/* write */

.register-form{
	margin: 0 100px;
	display: flex;
	flex-direction: column;
	gap: 15px 0;
}

.select-box {
	display: flex;
	gap: 10px 30px;
	padding: 0;
	justify-content: center;
	flex-direction: column;
    width: 100%;
}

.select-box li {
	list-style: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	width: 100%;
}

.select-box li select {
	outline: none;
	cursor: pointer;
	padding: 10px 15px;
	border-radius: 5px;
	width: 100%;
	background-color: #000;
	color: #fff;
	border: 0;
}

.firstdiv,
.password-form,
.detail {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0 15px;
}

.firstdiv .form-floating,
.password-form .form-floating,
.detail .form-floating {
	width: 100%;
}

.firstdiv .findZipcode input {
	outline: none;
	background-color: #7000D8;
	border: 0;
	color: #fff;
	padding: 15px 20px;
	border-radius: 5px;
	transition: all 0.35s linear;
}

.firstdiv .dup input {
	outline: none;
	background-color: #191C24;
	border: 0;
	color: #fff;
	padding: 15px 20px;
	border-radius: 5px;
}

.firstdiv .findZipcode input:hover {
	background-color: #953de7;
}

input#addressDetail, input#contract, input#zipcode {
	outline: none;
	cursor: pointer;
	padding: 10px 15px;
	border-radius: 5px;
	width: 100%;
	background-color: #000;
	color: #fff;
	border: 0;
}

.confirm {
	outline: none;
	color: #fff;
	background-color: #7000D8;
	transition: all 0.35s linear;
	width: 100%;
	padding: 10px;
	border: 0;
	border-radius: 5px;
}

.confirm:hover {
	background-color: #953de7;
}


.side {
    display: flex;
	justify-content: space-between;
    align-items: center;
    gap: 0 30px;
}

.imgdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
	width: 200px;
}

.innerSide {
    width: 100%;
}

.imgdiv label {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.memList a {
    color: #fff;
}

.memList a:hover {
    color: #953de7;
}

thead, tbody, tfoot, tr, td, th {
    color: #fff !important;
}

.form-floating>.form-control:focus, .form-floating>.form-control:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
    color: #fff;
}

label{
	color: #fff;
}

@media (max-width: 720px) {
	.register-form {
		margin: 0;
	}
	
	.side {
    display: flex;
	justify-content: space-between;
    align-items: center;
    gap: 0 30px;
    flex-direction: column;
	}
	
	.imgdiv {
    display: none;

	}
	
	.select-box {
		width: 100%;
		flex-direction: column;
		gap: 10px 0;
	}
	
	.select-box li label {
		width: 80px;
		flex: none;
	}
	
	.select-box li select {
		width: 100%;
	}
	
	.password-form, .detail {
		flex-direction: column;
		gap: 15px 0;
	}
}


/* List */
.rounded {
    border-radius: 5px !important;
    width: 97%;
    margin-left: 1.5%;
    margin-top: 2%;
}

.btn-form {
    display: flex;
    justify-content: right;
    gap: 0 15px;
}

.btn-form button {
	outline: none;
	background-color: #7000D8;
	border: 0;
	color: #fff;
	padding: 5px 15px;
	border-radius: 5px;
	transition: all 0.35s linear;
}

.btn-form button:hover {
	background-color: #953de7;
}

.memImg {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.memInfo {
    float: right;
}

.inner {
    display: flex;
    justify-content: center;
    gap: 0 5%;
    margin: 7% 0; 
}

@media (max-width: 720px) {
	
}