@charset "EUC-KR";


/* write */
#Approval_wr {	
	
.appbox{
	width: 70%;
	margin: 0 auto;
}
.Appfrm{
  width: 1250px;
}
.btn{
 	width: 70px;
    margin-left: 1135px;
    margin-top: 14px;	
}

.textarea{
	resize: none;
}

}

#harddetail{
	.appbox{
	width: 70%;
	margin: 0 auto;
}
.hardfrm{
  width: 1250px;
}
.btn{
 	width: 70px;
    margin-left: 1135px;
    margin-top: 14px;	
}

.textarea{
	resize: none;
}
	
	
	
}