@charset "UTF-8";



#approval{
	
  .insertapp{
	   text-align: right;
	   margin-left: 1070px;
	   margin-top: 20px;
	}	
}
#approvalModal{
	.close{
		background-color:#191C24;
		color: white;
	}
	
	.modal-content{
		background-color:#191C24;
	}
	.form-group{
		font-size: 1.2em;
		color: white;
	}
	.form-control{
		color: black;
	}
}
/* Approval_write */
#Approval_wr {	
	
	.appbox{
		width: 70%;
		margin: 0 auto;
	}
	.Appfrm{
	  width: 1250px;
	}
	.btn{
	 	width: 70px;
	    margin-left: 1135px;
	    margin-top: 14px;	
	}
	
	.textarea{
		resize: none;
	}
	.appfile{
	background: black;
	}

}
/*Appdetail*/
#Appdetail{
	.appbox{
		width: 70%;
		margin: 0 auto;
	}
.appfrm {
    width: 1250px;
}	
	
.Appbtn{
	text-align: center;
}	
.btn {
	width: 70px;	
	margin-top: 14px;
} 	
.textarea{
		resize: none;
	}	
}


/*Appdelete*/
#Appdelete{
	.pwd{
	 width: 230px;	
	}	
	.center{
	margin-top: 15px;
	margin-left: 60px;
	}	
}
/*webhard*/
#webhard{
	.download{
		margin: 0px;
		text-align: center;
	}
}
/* webhard_detail */
#harddetail{
	.appbox{
		width: 70%;
		margin: 0 auto;
	}
	.hardfrm{
	  width: 1250px;
	}
	.hardbtn{
	 	text-align:  center;
	 	margin-top: 14px;
	}
	.textarea{
		resize: none;
	}
	.webFile{
	background: black;
	}	
	
}
/* harddelete*/
#harddelete{
	.center{
	margin-top: 15px;
	margin-left: 60px;
	}	
	.pwd{
		 width: 230px;	
	}	
}

/*Calender*/
#insertcal {
    width: 100%;
    height: 58px;
	.btn {
	   margin-left: 480px;
	}
}

#cal{
	.calendar{
	width: 85%;
	height: 90%;
	margin-left: 105px;
	}
}
