@charset "UTF-8";
.chatRoom { /* 채팅방 영역 */
	width: 650px;
	height: 700px;
	margin: 0 460px;
}
.chatRoom-header { /* 채팅방 목록 헤더 */
	width: 100%;
	height: 50px;
}
.chatRoom-title { /* 채팅방 목록 텍스트 */
	float: left;
	font-size: 22px;
	font-weight: bold;
	line-height: 50px;
	vertical-align: middle;
}
.chatRoom-button { /* 채팅방 생성 버튼 */
	display: inline-block;
	width: 120px;
	height: 50px;
	background-color: white;
	border: 1px solid rgb(51, 51, 51);
	border-radius: 4px;
	font-size: 15px;
	float: right;
	cursor: pointer;
}
.chatRoom-list { /* 채팅방 목록 */
	border: 1px solid rgb(51, 51, 51);
	border-radius: 4px;
	width: 100%;
	margin-top: 15px;
	height: 635px;
	overflow-y: auto;
}
.chatRoom-one { /* 채팅방 개별 */
	height: 50px;
	padding: 15px 10px 15px 20px;
	display: flex;
	cursor: pointer;
}
.chatRoom-one:hover {
	background-color: rgb(145, 168, 210, 0.1);
}
.chatRoomType { /* 채팅방 종류 */
	height: 100%;
	display: inline-flex;
	margin-right: 10px;
}
.chatRoomType .material-icons { /* 채팅방 종류 아이콘 */
	font-size: 50px;
}
.chatRoomContent { /* 채팅방 제목, 채팅방 내용 영역 */
	height: 100%;
	width: 445px;
	margin-right: 10px;
}
.chatRoomContent span, .chatRoomContent div:not(.chatRoomTitle, .chatHeadCount) { /* 채팅방 제목, 채팅방 내용 */
	width: 100%;
	height: 50%;
	display: block;
	font-size: 15px;
	line-height: 25px;
	vertical-align: middle;
}
.chat-title-count { /* 목록 내용 상단(제목, 인원수) */
	display: flex;
	width: 100%;
}
.chatRoomTitle { /* 채팅방 제목 */
	display: inline-flex;
	max-width: 90%;
	height: 100%;
	font-weight: bold;
}
.chatRoomTitle p { /* 채팅방 제목 텍스트 */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.chatHeadCount { /* 채팅방 인원수 */
	display: inline-flex;
	color: rgb(94, 94, 94);
}
.chatRoomContent strong { /* 채팅방 내용에 있는 strong */
	font-weight: normal;
}
.chatContent { /* 채팅방 내용 */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.chatDate { /* 채팅 날짜 */
	text-align: right;
	width: 80px;
	font-size: 14px;
	color: rgb(100, 100, 100);
	vertical-align: middle;
	line-height: 25px;
}